.custom-link {
  color: white;
  text-decoration: none;
}

/* styling hero section */
.hero {
  background-image: url(../img/tower.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px -142px 73px -36px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px -142px 73px -36px rgba(255, 255, 255, 1);
  box-shadow: inset 0px -142px 73px -36px rgba(255, 255, 255, 1);
  color: #ffffff;
  h1,
  h2,
  h5 {
    text-shadow: #18181a 2px 5px 10px;
  }
}

/* table laporan tagihan for customer */
.tagihan-body {
  min-height: 100vh;
  padding: 50px;
}
.tagihan-body h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* styling footer */
.cta {
  -webkit-box-shadow: 0px -22px 44px -5px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px -22px 44px -5px rgba(0, 0, 0, 0.28);
  box-shadow: 0px -22px 44px -5px rgba(0, 0, 0, 0.28);
}
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
}

.cta-left,
.cta-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-left span,
.cta-right span {
  margin-bottom: 10px;
}

/* styling price tags */
.pricing {
  text-align: center;
  padding: 50px;
}

.pricing h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.pricing p {
  color: #666;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plan {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px); /* Adjust to fit 4 items in a row */
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.plan:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.plan h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.plan .price {
  font-size: 2em;
  color: #332cf2;
}

.plan .price span {
  font-size: 0.5em;
}

.plan p {
  color: #999;
  margin-bottom: 20px;
}

.plan ul {
  list-style: none;
  padding: 0;
}

.plan ul li {
  margin-bottom: 10px;
  color: #333;
  display: flex;
  align-items: center;
}

/* style contact */
.contact {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
}

.contact-header {
  text-align: left;
  margin-bottom: 30px;
}

.contact-header h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-header p {
  color: #666;
  line-height: 1.6;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 20px);
  padding: 20px;
  min-width: 200px;
  transition: 1s box-shadow;
}

.contact-card:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.contact-card h3 {
  margin-top: 0;
}

.contact-card a {
  color: #3b82f6;
  text-decoration: none;
}

.contact-card p {
  color: #555;
  margin-top: 10px;
}

/* styling profilepelanggan */
.gradient-custom {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgb(71, 172, 255),
    rgb(38, 107, 255)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgb(71, 172, 255),
    rgb(38, 107, 255)
  );
}

/* styling editprofilepelanggan */
.form-control:focus {
  box-shadow: none;
  border-color: #4cb7ff;
}

.profile-button {
  background: rgb(71, 172, 255);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #18dcff;
}

.profile-button:focus {
  background: #18dcff;
  box-shadow: none;
}

.profile-button:active {
  background: #18dcff;
  box-shadow: none;
}

.back:hover {
  color: #18dcff;
  cursor: pointer;
}

/* styling navbar */
.navbar .dropdown-menu {
  min-width: 200px; /* Adjust the width if necessary */
}

.navbar .dropdown-menu a {
  display: flex;
  align-items: center;
}

.navbar .dropdown-menu a img {
  margin-right: 10px; /* Add margin to avatar in dropdown items */
}

.navbar .nav-link img {
  border: 2px solid #fff; /* Add border to avatar */
}

/* styling nvbr as mini navbar */
.nvbr {
  font-family: Arial, sans-serif;
  margin: 50px 0;
  box-sizing: border-box;
  background-color: white;
}

.nvbr-container {
  display: flex;
  justify-content: space-around; /* Use space-around for equal spacing */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.nvbr-item {
  flex: 1 1 200px; /* Adjust the size to ensure all items are equal */
  text-align: center;
  margin: 10px; /* Add margin for spacing between items */
  padding: 40px 20px; /* Adjust padding as needed */
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nvbr-item:hover {
  color: #007bff;
  background-color: #f8f8f8;
}

.nvbr-item span {
  display: block;
  font-size: 15px;
  color: #999;
  font-weight: normal;
}

/* styling calculator */
.calculator {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
}

.body-calc {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/diagonal-noise.png);
  margin: 0;
  -webkit-box-shadow: inset 0px 182px 68px -70px rgba(248, 249, 250, 1);
  -moz-box-shadow: inset 0px 182px 68px -70px rgba(248, 249, 250, 1);
  box-shadow: inset 0px 182px 68px -70px rgba(248, 249, 250, 1);
}

.calculator h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.input-group {
  margin: 30px 0;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-group span {
  margin-top: 5px;
}

#calculate-btn,
#reset-btn,
#modal-btn {
  background: #6200ea;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
  width: 100%;
}

#calculate-btn:hover,
#reset-btn:hover {
  background: #4b00b6;
}

/* CSS for fade in effect */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

/* CSS for button group in kalkulator.php */
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button-group button {
  flex: 1;
}

/* styling buttons */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 1rem; /* Adjusted to match navbar font size */
  line-height: 1.5; /* Adjusted for proper vertical alignment */
  padding: 0.375rem 3rem; /* Adjusted to match navbar padding */
  text-decoration: none;
  cursor: pointer;
  background: #ffffff62;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 7px;
  line-height: 13px;
  white-space: nowrap; /* Added to ensure text stays on one line */
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.button-79 {
  backface-visibility: hidden;
  background: #332cf2;
  border: 0;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: 0.125rem;
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(0.125rem);
}

/* media queries */
@media (max-width: 768px) {
  .plans {
    flex-direction: column;
    align-items: center; /* Optional: Center align the columns */
  }

  .plan {
    width: 80%; /* Adjust width for better appearance */
  }

  .nvbr-container {
    flex-direction: column;
    align-items: center;
  }

  .nvbr-item {
    padding: 20px 40px;
    font-size: 18px;
  }
}
